* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
@media all and (max-width: 600px) {  

    header{  
      display: flex;  
      flex-direction: column;
    }
    .nav_items ul {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding-inline-start: 0;
      font-size: 1vw;
  }
  .nav_items{
    max-height:auto;
    background-color: #275775;
  }
  a .boton{
    display: none;
  }
  .siguiente{ 
    display: flex;
    flex-direction: column;
  }
}
header {
  background-color: #428fbf;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1000px;
  margin: auto;
}

.lugar {
  padding: 15px;
}

nav {
  background-color: #275775;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  max-height: 50px;
}

.nav_items ul {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding-inline-start: 0;
  height: 100%;
  border: 1px solid white;
  list-style: none;
}

nav>ul>li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0rem;
  display: block;

}

li>a {
  color: white;
  text-decoration: none;
}

li>a:hover {
  color: #54eca1;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

.logo {
  padding: 10px;
  margin-left: 15px;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.fade {
  animation-name: fade;
  position: relative;
  animation-duration: 6s;
  height: 400px;
  max-width: 1000px;
  z-index: -1;
  border: 5px white;
}

@keyframes fade {
  0% {
    opacity: .2;
    left: -20px;
    top: 0px;
  }

  50% {
    opacity: 1;
    left: -10px;
    top: -10px;
  }
  100% {
    opacity: .2;
    left: 0px;
    top: -20px;
  }
}

.mySlides {
  display: none;
}

#principal {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
   
}

#principal .izquierda {
  display: block;
  height: fit-content;
  
}

.imagen {
  border-radius: 10%;
}

.siguiente {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  align-items: center;
  background-color: #3c4246;
  justify-content: space-around;
  padding: 15px;
  
}
.siguiente div{
  display: flex;
  max-width: 30%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;

}

.siguiente div > *{
  padding: 8px;
}

.izquierda {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 70px;
}

.boton {
  border: #54eca1 solid 2px;
  color: #3c4246;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}
.boton {
  transition-duration: 0.4s;
}

.boton:hover {
  background-color: white;
  color: #3c4246;
}
form { 
  width: 60vw; 
  max-width: 500px; 
  min-width: 300px; 
  margin: 0 auto; 
  padding-bottom: 2em; 
} 
 
fieldset { 
  border: none; 
  padding: 2rem 0; 
  border-bottom: 3px solid #3b3b4f; 
} 
h1{ 
   
  width: 60vw; 
  max-width: 500px; 
  min-width: 300px; 
  margin: 0 auto; 
}
.izquierda{
  display: flex;
  flex-direction: column;
  vertical-align: top;
}
footer section{
  background-color:#275775;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3%;
  max-width: 1000px;
  margin:auto;
  color: white;
}
section div{
  vertical-align: top;
}
.desarrolladores{
  background-color: #3c4246;
  margin: auto;
  max-width: 1000px;
  align-items: center;
  max-height: fit-content;
  padding: 3px;
}

.redes ul li{
  list-style: none;
}

.redes ul li a{
  font-size: 20px;
  letter-spacing: 2px;
}

.titulo_contacto{
  color: #275775;
  font-size: 3rem;
}